body{
  background-color: #f2f2f2;
  height:100vh;
  color: #222;
}

/* Intro Page */
.introWrapper{
  display: flex;
  flex-direction: column;
  /* height:100vh; */
}

.header{
  display: flex;
  justify-content: flex-end;
}

.signInButton{
  margin: 16px;
  padding: 8px 24px;
  cursor: pointer;
}

.signInButton button {
  border: none;
  outline: none;
  color:inherit;
  background-color: inherit;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  color: #4A00AA;
}

.signInButton button:hover{
  color:#fff;
}

.sections{
  margin-top: 20px;
  /* animation: slideUp 2.5s ease-out forwards; */
}

.firstSection{
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  padding:30px 24px;
  /* gap:30px; */
  /* background-color: #333; */
}

.firstSection .textArea{
  width: 100%;
  margin-right: 24px;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.firstSection .textArea h1{
  font-size: 36px;
  font-family: 'RiaSans-ExtraBold';
  color: #4A00AA;
}

.firstSection .textArea .title{
  font-size: 24px;
  font-weight: 600;
}

.firstSection .textArea .content{
  /* font-size: 14px; */
  font-weight: 300;
}

.secondSection{
  display: flex;
  /* background-color: #ddd; */
  justify-content: center;
  gap:20px;
  margin-bottom: 100px;
}

.secondSection .cardTitle{
  font-size: 20px;
  margin: 0px;
  font-family: 'Pretendard';
  font-weight: 600;
}

.secondSection .cardSubTitle{
  font-size: 14px;
  margin:0px;
  margin-top: 8px;
  font-family: 'Pretendard';
  font-weight: 300;
}

.lastSection{
  display: flex;
  justify-content: center;
  padding:8px 0px;
  margin-bottom: 24px;
}

.lastSection button{
  border: 1px solid #4A00AA;
  background-color: #fbfbfb;
  padding: 16px 70px;
  font-size: 16px;
  cursor: pointer;
}

.lastSection button:hover{
  background-color: #4A00AA;
  color:#FFF;
}

/* IntroPage - mobile */
/* .firstSection-mobile{
  margin:16px;
}

.textArea-mobile h1{
  font-size: 36px;
  font-weight: 800;
  color: #4A00AA;
}

#title-mobile{
  font-size: 18px;
  font-weight: 700;
}

#content-mobile{
  font-size: 14px;
  font-weight: 300;
}

.title-2-mobile{
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  animation: slideUp 2s ease-out forwards;
}

.content-2-mobile{
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  animation: slideUp 2s ease-out forwards;
}

.title-3-mobile{
  font-size: 18px;
  font-weight: 700;
  animation: slideUp 2s ease-out forwards;
}

.content-3-mobile{
  font-size: 14px;
  font-weight: 300;
  animation: slideUp 2s ease-out forwards;
}

.imageWrapper-mobile-1{
  display: flex;
  justify-content: center;
  margin-top: 36px;
  animation: slideUp 2s ease-out forwards;
}

.imageWrapper-mobile-2{
  display: flex;
  justify-content: center;
  margin-top: 36px;
  animation: slideUp 2s ease-out forwards;
}

.secondSection-mobile{
  margin-top: 36px;
  margin-right: 16px;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

.image-mobile {
  width: 300px;
  height: auto;
}

.secondWrapper-mobile{
  margin:16px;
}

.lastSection-mobile{
  display: flex;
  justify-content: center;
  padding:36px 0px;
  margin-bottom: 24px;
}

.lastSection-mobile button{
  border: 1px solid #4A00AA;
  background-color: #fbfbfb;
  padding: 16px 70px;
  font-size: 16px;
  cursor: pointer;
  color:#333
} */

/* authModal */

.modalOpen{
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 101;
  top:0;
}

.loadingModalWrapper{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 36px;
  border-radius: 8px;
  border:1px solid #DDD;
}

.loadingModalWrapper p{
  font-size: 18px;
  font-weight: 500;
  margin-top: 36px;
}

.loadingModalWrapper .subTitle{
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
}

.modalWrapper{
  width: 600px;
  height:max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
}

.modalWrapperMobile{
  width: 80vw;
  height:max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
}

.isClosed{
  display: none;
}

.modalBox{
  padding: 12px 12px 70px 12px;
}


.modalCloseButton{
  padding: 8px;
}

.modalCloseButton button {
  border: none;
  outline: none;
  color:inherit;
  background-color: inherit;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

.signInInfos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.inputWrapper{
  display: flex;
  width: 50%;
  max-width: 360px;
  background-color: #F1E7FF;
  /* padding:16px 20px 16px 8px; */
  /* padding: 16px 0px; */
  border-radius: 12px;
  margin:4px;
}

.inputWrapper .iconWrapper{
  /* background-color: #222; */
  padding: 12px 16px;
  margin-right: 16px;
  border-right: 1px solid #FFF;

}

.inputWrapperMobile{
  display: flex;
  width: 80%;
  background-color: #F1E7FF;
  padding:16px 8px;
  border-radius: 12px;
  margin:4px;
}

.inputBox{
  width: 100%;
  border:none;
  background: none;
}

.basicButtonWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicButtonWrapper button{
  border: none;
  outline: none;
  color: #fff;
  background-color: #4A00AA;
  cursor: pointer;
  padding: 16px 100px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
}

.goSignUpWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 8px;
}

.goSignUpWrapper p{
  margin:0px;
  font-size: 14px;
  font-weight: 300;
  color:#666;
}

.goSignUpWrapper button{
  border: none;
  outline: none;
  color: #666;
  background-color:inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.goKakaoWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:16px;
  gap:20px;
}

.goKakaoWrapper p{
  margin:0px;
  font-size: 14px;
  font-weight: 400;
  color:#666;
}

.goKakaoWrapper button{
  border: none;
  outline: none;
  color: #666;
  background-color:inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

/* Progress Bar */
.progressBarWrapper{
  width: 100vw;
  position: fixed;
  top:0
}

.progressBar{
  width: 100%;
  height: 16px;
  border-top: 1px solid #4A00AA;
  border-bottom: 1px solid #4A00AA;
  background-color: #f2f2f2;
}

.progressBar-fill{
  height: 100%;
  background-color: #4A00AA;
  transition: width 0.3s ease-out;
}

/* SignUpStartButton */
.signUpStartButtonWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpStartButtonWrapper button{
  border: none;
  outline: none;
  color: #fff;
  background-color: #4A00AA;
  cursor: pointer;
  padding: 16px 46px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
}

/* survey intro page */
.SurveyIntroWrapper{
  display: flex;
  height: 100vh;
}
.surveyIntroTextWrapper{
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.surveyIntroImage{
  position:fixed;
  right: 0px;
  bottom: 0px;
}

.surveyIntroContents{
  margin-top: 80px;
  margin-left: 60px;
}

.surveyIntroContentsMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #333; */
  width: 100%;
}

.surveyTitleTextMobile{
  align-items: center;
  margin-top: 50px;
}

.surveyTitleTextMobile p{
  font-size: 28px;
  font-weight: 600;
}

.surveyTitleText{
  margin-bottom: 24px;
}

.surveyTitleText p{
  font-size: 28px;
  font-weight: 700;
}

.surveyContentText p{
  font-size: 18px;
  font-weight: 300;
}

.buttonWrapper{
  display: flex;
  margin-left: 60px;
  margin-top: 20%;
}

.buttonWrapperMobile{
  margin-top:20%;
}

.imageWrapper{
  margin-top: 120px;
}

.buttonsWrapper{
  display: flex;
}

.prevButton button{
  position: fixed;
  left:24px;
  border: none;
  bottom: 100px;
  bottom: 60px;
  border: none;
  border-radius: 100px;
  background-color: #4A00AA;
  width: 60px;
  height: 60px;
  color: #FFF;
}

.nextButton button{
  position: fixed;
  right: 24px;
  border: none;
  bottom: 60px;
  border: none;
  border-radius: 100px;
  background-color: #4A00AA;
  width: 60px;
  height: 60px;
  color: #FFF;
}

/* sign up */

.signUpPageWrapper{
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  height: 100vh;
}

.signUpTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
}

.signUpTitle p{
  font-size: 24px;
  font-weight: 600;
}

.signUpInfos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* NavBar */
.navBarWrapper{
  /* width: 50%; */
  display: flex;
  justify-content: center;
  background-color: inherit;
  margin-top:16px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  padding:8px 80px 8px 80px;
  border-top:1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.navBarTabs{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:100px;
}

.navTab a:hover{
  background-color: #ececec;
}

.navBarWrapper-mobile{
  background-color: #fff;
  /* width: 100vh; */
  height: max-content;
  padding-bottom: 12px;
  z-index: 1;
}

.mobileNav-overlay {
  position: fixed; /* Makes the overlay stay in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Adjust z-index to be higher than other elements */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for a modal effect */
}

.backIcon{
  padding: 16px 4px;
}
.navBarTabs-mobile{
  margin-top: 16px;
}

.navTab-mobile{
  margin-bottom: 24px;
  margin-left: 12px;
  padding: 4px;
}

/* HomePage */

.homeTitle{
  display: flex;
  justify-content: center;
}

.homeTitle h1{
  color:#4A00AA;
  font-size: 52px;
}

.navWrapper-mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:8px 12px;
}

.navWrapper-mobile h1{
  font-size: 24px;
  color: #4A00AA;
}
/* SearchInput */
.searchInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInput-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.searchInputWrapper{
  display: flex;
  justify-content: space-between;
  gap:20px;
  width: 80%;
  background-color: #FFF;
  padding:12px 8px 12px 8px;
  border-radius: 12px;
  border:1px solid #DDD;
}

.searchInputWrapper-mobile{
  display: flex;
  justify-content: space-between;
  gap:20px;
  width: 80%;
  background-color: #FFF;
  padding: 12px 6px;
  border-radius: 8px;
  border:1px solid #DDD;
}

.searchInputWrapper input,
input::placeholder{
  border: none;
  background-color: inherit;
  /* font-size: 20px; */
  width: 100%;
}

.searchInputWrapper-mobile input,
input::placeholder{
  border: none;
  background-color: inherit;
  font-size: 12px;
  width: 100%;
}

.searchInputWrapper button{
  border:none;
  background-color: #4A00AA;
  color:#FFF;
  border-radius: 8px;
  padding:8px 12px 8px 12px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.searchInput-mobile button{
  border:none;
  background-color: #4A00AA;
  color:#FFF;
  border-radius: 4px;
  padding:6px 8px;
  font-size: 12px;
  font-weight: 300;
}

.searchInput-mobile button:hover{
  cursor: pointer;
}

/* SearchPage */

.searchPageWrapper{
  padding-bottom: 80px;
}

.resultWrapper{
  display: flex;
  flex-direction: column;
  margin: 80px 80px 0px 80px;
  gap:12px;
}

.resultWrapper-mobile{
  display: flex;
  flex-direction: column;
  margin:20px 20px 0px 20px;
  gap:12px;
}

.resultContainer{
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  border-radius: 12px;
  padding:12px 20px 12px 20px;
  gap:28px;
  align-items: flex-start;
  /* justify-content: flex-start; */
  cursor: pointer;
  
}

.resultContainer-mobile{
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  border-radius: 4px;
  padding: 6px 10px;
  gap:12px;
  align-items: flex-start;
  cursor: pointer;
}

.resultCoverImage{
  width: 140px;
  height: auto;
  border-radius: 4px;
  border:1px solid #DDD;
}

.resultCoverImage-mobile{
  width: 100px;
  height: auto;
  border-radius: 4px;
  border:1px solid #DDD;
}

.bookInfo{
  /* margin-top:8px; */
  margin-bottom: 8px;
}

.bookInfo-mobile{
  margin-bottom: 4px;
}

.resultInfos{
  width: 80%;
  height: auto;
  margin-top: 12px; /*��...??*/
}

.resultInfos-mobile{
  width: 70%;
  height: auto;
  margin-top: 12px;
}

.resultInfos .bookTitle{
  font-size: 18px;
  font-weight: 500;
  margin:4px 0px 4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.resultInfos-mobile .bookTitle-mobile{
  font-size: 14px;
  font-weight: 500;
  margin: 2px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.resultInfos .bookAuthor{
  font-size: 14px;
  font-weight: 400;
  margin:4px 0px 4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.resultInfos-mobile .bookAuthor-mobile{
  font-size: 12px;
  font-weight: 400;
  margin:4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.resultInfos .bookISBN{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;
  font-size: 14px;
  font-weight: 400;
}

.resultInfos-mobile .bookISBN-mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;
  font-size: 12px;
  font-weight: 400;
}

.bookISBN p{
  margin:4px 0px 4px 0px;
}

.bookISBN-mobile p{
  margin:4px 0px 4px 0px;
}

.bookDescription{
  
  
}

.bookDescription p{
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin:0px;
}

.bookDescription-mobile p{
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin:0px;
}

.searchResultNone{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResultNone p{
  font-size: 18px;
  font-weight: 300;
}

/* BookDetailPage */
.detailPageWrapper{
  display: flex;
  flex-direction: column;
}

.detailPageWrapper-mobile{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.detailInfoContainer{
  display: flex;
  flex-direction: row;
  /* margin:60px 80px 60px 80px; */
  padding: 60px 80px;
  height: fit-content;
  gap:36px;
  border-bottom: 1px solid #DDD;
}

.detailInfoContainer-mobile{
  /* background-color: #ddd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.recommendByBookWrapper{
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  margin-top: 24px;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  /* gap:8px; */
  overflow-x: auto;
  width: 600px;
  border-radius: 8px;
}

.recommendByBookContainer{
  display: flex;
  flex-direction: row;
  /* padding: 12px 16px;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  gap:8px;
  overflow-x: auto; */
  gap: 16px;
  /* overflow-x: auto; */
  /* white-space: nowrap; */
}

.recommendByBookTitleWrapper{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap:8px;
  margin-bottom: 12px;
}

.recommendByBookTitleWrapper .recommendByBookTitle{
  font-weight: 500;
  margin: 0px;
}

.recommendByBookTitleWrapper .recommendByBookSubTitle{
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin:0px;
}

.recommendByBookBottomWrapper{
  display: flex;
  gap:16px;
}

.recommendByBookBottomWrapper .recommendByBookElement{
  display: flex;
  flex-direction: column;
  width: min-content;
  gap:4px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ??? */
  -webkit-box-orient: vertical;
}

.byBookLoadingContainer{
  /* background-color: #222; */
  display: flex;
  align-items: center;
  width: 100vh;
}

.detailTexts{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 32px;
  justify-content: space-between;
}

.detailTexts-mobile{
  /* background-color: #333; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 32px;
  justify-content: space-between;
}

.detailTexts,
.detailTexts-mobile p{
  margin:0px;
  margin-bottom: 8px;
}

.bookCoverImage{
  width: 300px;
  height: auto;
  border:1px solid #DDD;
}

.bookCoverImage-mobile{
  width: 200px;
  height: auto;
  border:1px solid #DDD;
  margin:40px 0px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
}

.detailTexts .textWrapper .title{
  font-weight: 500;
  font-size: 20px;
}

.detailTexts .textWrapper-mobile #title-mobile{
  font-size:16px;
  font-weight: 500;
}

.detailTexts .textWrapper .author{
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.textWrapper-mobile #author-mobile{
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.detailTexts .textWrapper .isbn{
  display: flex;
  flex-direction: row;
  gap:4px;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.textWrapper-mobile #isbn-mobile{
  font-weight: 400;
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: row;
  gap:4px;
}

.addButton{
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

.addButton button{
  border:none;
  border-radius: 8px;
  outline: none;
  color:#FFF;
  background: inherit;
  background-color: #4A00AA;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px 8px 16px;
  min-width: max-content;
  cursor: pointer;
}

.addButton-mobile button{
  border:none;
  border-radius: 8px;
  outline: none;
  color:#FFF;
  background: inherit;
  background-color: #4A00AA;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px 8px 16px;
  min-width: max-content;
  cursor: pointer;
}

.descriptionContainer{
  background-color: #fbfbfb;
  width: 600px;
  height: max-content;
  padding: 16px;
  border-radius: 8px;
  border:1px solid #DDD
}

.descriptionContainer-mobile{
  background-color: #fbfbfb;
  height: max-content;
  padding: 16px 24px;
  border-radius: 8px;
  border:1px solid #DDD
}

.descriptionContainer p{
  font-size: 14px;
  font-weight: 300;
}

.descriptionContainer-mobile p{
  font-size: 14px;
  font-weight: 300;
}

.myReviewsWrapper{
  margin:30px 70px;
}

.myReviewsWrapper-mobile{
  /* background-color: #ddd; */
  margin:0px 30px 30px 30px;
}

.myReviewsWrapper-mobile p{
  margin:0px;
}

.myReviewsWrapper .title{
  font-size: 28px;
  font-weight: 500;
}

.myReviewsWrapper-mobile #title-mobile{
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: 20px; */
}

.myReview{
  margin-bottom: 40px;
}

.myReview-mobile{
  /* background-color: #fbfbfb; */
  margin:20px 0px 50px 0px;
}

.reviewWrapper{
  background-color: #fbfbfb;
  border:1px solid #DDD;
  border-radius: 8px; 
}

.reviewWrapper-mobile{
  background-color: #fbfbfb;
  border: 1px solid #DDD;
  border-radius: 8px;
}

.upperWrapper{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upperWrapper-mobile{
  /* background-color: #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.upperWrapper p{
  font-size: 18px;
  font-weight: 300;
  margin:0px;
}

.upperWrapper-mobile p{
  font-size: 16px;
  font-weight: 300;
  margin:0px;
}

.belowWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.belowWrapper-mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.belowWrapper p{
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.belowWrapper-mobile p{
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.belowWrapper button{
  margin: 0px;
  border:none;
  background-color: inherit;
  background: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

.belowWrapper-mobile button{
  margin: 0px;
  border:none;
  background-color: inherit;
  background: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

.keywordsWrapper{
  /* display: flex;
  flex-direction: column; */
}

.keywordsWrapperTitles{
  display: flex;
  align-items: center;
  gap:8px;
}

.wordcloudsWrapper{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap:24px;
  width: 100%;
}

.wordcloudsContainer{
  display: flex;
  flex-wrap: wrap;
  gap:8px;
}

.generateRecommendByKeywordsButton button{
  background-color: #9C27B0;
  color: #FFF;
  border:none;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}


.keywordsWrapperTitles .createKeywordsRecommendButton{
  display: flex;
  gap:8px;
  align-items:center;
}

.keywordsWrapperTitles .createKeywordsRecommendButton p{
  font-size: 14px;
  color: #666;
}

.wordcloudContainer{
  background-color: #b18de1;
  padding: 0px 12px;
  border-radius: 4px;
  height: 30px;
  display: flex;
  align-items: center;
}

.wordcloudContainer:hover{
  cursor: pointer;
  background-color: #4A00AA;
}

.wordcloudContainer p{
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
}

.keywordsWrapper-mobile{
  display: flex;
  align-items: baseline;
  gap:8px;
}

.keywordsWrapper .title{
  font-size: 24px;
  font-weight: 500;
}

.keywordsWrapper-mobile #title-mobile{
  font-size: 20px;
  font-weight: 500;
}

.keywordsWrapper .subTitle{
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

.keywordsWrapper-mobile #subTitle-mobile{
  font-size: 16px;
  font-weight: 300;
  color: #666;
}

.starWrapper,
.starWrapper-mobile{
  display: flex;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  border-radius: 100px;
  padding:6px 12px;
  gap:8px;
}

.starWrapper,
.starWrapper-mobile p{
  color: #4A00AA;
  font-size: 18px;
  font-weight: 300;
}

.noKeywordWrapper{
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.no-title{
  font-size: 18px;
  color: #555;
}

.noKeywordWrapper .subTitle{
  font-size: 13px;
  font-weight: 300;
  color: #666;
}

.recommendedBookByKeywordsWrapper{
  background-color: #fbfbfb;
  margin-top: 24px;
  height: max-content;
  border:1px solid #DDD;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 30px;
  width: max-content;
}

.recommendedBookByKeywordsLoading{
  background-color: #fbfbfb;
  margin-top: 24px;
  height: 200px;
  border:1px solid #DDD;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 30px;
  width: 600px;
}

.recommendedBookByKeywordsWrapper p{
  margin:0px;
  margin-bottom: 16px;
}

.recommendedBookByKeywordsWrapper .bottomWrapper{
  display: flex;
  justify-content: space-between;
  gap:24px;
}

.recommendedBookByKeywordsWrapper .title{
  font-size: 17px;
  font-weight: 400;
}

.keywordRecommendElement{
  display: flex;
  flex-direction: column;
  gap:4px;
  width: 140px;
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ??? */
  -webkit-box-orient: vertical;
  /* background-color: #222; */
}

.keywordRecommendElement p{
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
}

.loadingRecommendByBook{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 200px;
}
/* PersonalPage */
.personalPageWrapper{
  /* width: 100%; */
  display: flex;
  /* gap:40px; */
}

.logoImg{
  width: 200px;
  margin-top: 40px;
}

.logoImg:hover{
  cursor: pointer;
}

.leftWrapper{
  width: 30%vw;
  display: flex;
  /* gap:40px; */
  flex-direction: column;
  align-items: center;
}

.leftWrapper-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfile{
  display: flex;
  min-width: max-content;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 30px;
  height: fit-content;
  margin:16px 40px 40px 40px;
  border:1px solid #DDD;
  border-radius: 12px;
}

.userProfile-mobile{
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  padding: 24px 36px;
  height: fit-content;
  margin:20px;
  border:1px solid #DDD;
  border-radius: 12px;
  align-items: center;
  gap:40px;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo #membername{
  color: #666;
  font-weight: 300;
}

.userInfo p{
  margin:0px;
  margin-bottom: 12px;
  font-size: 14px;
}

.userInfo-mobile p{
  margin:0px;
  margin-bottom: 8px;
  font-size: 14px;
}

.userInfo-mobile #membername-mobile{
  color: #666;
}

.userButtons{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.userButtons-mobile{
  display: flex;
  flex-direction: column;
  gap:4px;
}

.userButtons button{
  border:1px solid #DDD;
  color:#666;
  background-color: inherit;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.userButtons-mobile button{
  border:1px solid #DDD;
  color: #666;
  background-color: inherit;
  border-radius: 4px;
  padding:8px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.library{
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap:40px;
  margin:40px 40px 0px 0px;
}

.library-mobile{
  display: flex;
  flex-direction: column;
  gap:40px;
  margin:40px;
}

.savedBooks{
  background-color: #fbfbfb;
  max-width: 90%;
  min-height: max-content;
  /* max-height: fit-content; */
  padding: 40px;
  border-radius: 12px;
  border:1px solid #DDD;
  display: flex;
  flex-direction: column;
  gap:30px;
  flex-wrap: wrap;
}

.savedBooksBottom{
  display: flex;
  gap:16px;
}

.savedBooks .savedBooksTitle{
  display: flex;
  align-items: center;
  gap:8px;
}

.savedBooks .savedBooksTitle .title{
  font-size: 18px;
  font-weight: 500;
  margin:0px;
}

.savedBooks .savedBooksTitle .subTitle{
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin:0px;
}

.generateBookIconWrapper{
  display: flex;
  justify-content: center;
  margin:12px 0px;
}

.generateBookIconWrapper .generateBookIcon{
  padding: 4px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.generateBookIconWrapper .generateBookIcon:hover{
  background-color: #f1e6ff;
  /* border: 1px solid #b18de1; */
}

.loadingContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.savedBookElement{
  width: 120px;
  height: max-content;
  
}

.savedBookElement:hover{
  cursor: pointer;
}

.savedBookElement .bookCover{
  width: 120px;
  height: 180px;
  border-radius: 4px;
  border:1px solid #DDD;
}

.savedbookTextsWrapper p{
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin:0px;
  margin-top:4px;
}

.userStatistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  width: 100%;
}

.userStatistics-mobile{
  display: flex;
  gap:20px;
  flex-direction: column;
  /* background-color: #333; */
  /* align-items: center; */
  width: 100%;
}

.statisticsForMonth{
  min-width: 60%;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 12px;
  border:1px solid #DDD;
}

.statisticsForMonth-mobile{
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 12px;
  border:1px solid #DDD;
}

.favoriteGenre{
  min-width: 60%;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 12px;
  border:1px solid #DDD;
}

.favoriteGenre-upper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.favoriteGenre-upper .buttons{
  display: flex;
  gap:4px;
}

.favoriteGenre-below{
  display: flex;
  flex-direction: column;
  gap:4px;
}

.favoriteGenre-below .genreElement{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteGenre-upper button,
.favoriteGenre-upper .closeButton:hover{
  border: 1px solid #DDD;
  padding: 4px 6px;
  background-color: #fbfbfb;
  color: #666;
  border-radius: 4px;
  cursor: pointer;
}

.favoriteGenre-below p{
  margin:0px;
  margin-bottom: 4px;
  color: #666;
  font-weight: 300;
  font-size: 16px;
}

.favoriteGenre-mobile{
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 12px;
  border:1px solid #DDD;
}

/* bookSaveModal */
.bookSaveModalWrapper{
  width: 70%;
  height:max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
  padding: 30px 36px;
}

.bookSaveModalWrapper-mobile{
  width: 80%;
  height: max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
  padding: 24px;
}

.topWrapper .textsWrapper p{
  margin:0px;
  margin-bottom: 4px;
}

.textsWrapper-mobile p{
  margin:0px;
  margin-bottom: 4px;
}

.topWrapper .title{
  font-size: 20px;
  font-weight: 500;
}

.topWrapper-mobile #title-mobile{
  font-size: 18px;
  font-weight: 500;
}

.topWrapper .author{
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.topWrapper-mobile #author-mobile{
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.topWrapper .isbn{
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.topWrapper-mobile #isbn-mobile{
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.topWrapper{
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}

.topWrapper-mobile{
  
}

.modalLine{
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin:40px 0px;
}

.modalLine-mobile{
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin:20px 0px;
}

.starsWrapper{
  min-width: max-content;
}

.starsWrapper-mobile{
  min-width: max-content;
}

.midWrapper{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.midWrapper-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewInputWrapper{
  width: 100%;
  height: 20vw;
  border:1px solid #DDD;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:16px;
}

.reviewInputWrapper-mobile{
  width: 90%;
  height: 60vw;
  border:1px solid #DDD;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:16px;
}

.reviewInput{
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  border:none;
  background-color: inherit;
  background:inherit;
}

.reviewInput-mobile{
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  border:none;
  background-color: inherit;
  background:inherit;
}

.bottomWrapper{
  display: flex;
  justify-content: space-between;
}

.bottomWrapper-mobile{
  display: flex;
  justify-content: space-between;
}

.bottomWrapper button{
  border:none;
  background-color: inherit;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.bottomWrapper-mobile button{
  border:none;
  background-color: inherit;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton button{
  background-color: #DDD;
}

.cancelButton-mobile button{
  background-color: #DDD;
}

.saveButton button{
  background-color: #4A00AA;
}

.saveButton-mobile button{
  background-color: #4A00AA;
}

.starsWrapper button{
  border:none;
  background-color: inherit;
  background: inherit;
  cursor: pointer;
  color:#4A00AA;
  font-weight: 700;
  font-size: 30px;
}

/* star rating */

.star-rating {
  display: flex;
}

.star {
  appearance: none;
  padding: 1px;
}

.star-mobile{
  appearance: none;
  padding: 0px;
}

.star::after {
  content: '☆';
  color: #4A00AA;
  font-size: 30px;
  font-weight: 700;
}

.star-mobile::after {
  content: '☆';
  color: #4A00AA;
  font-size: 24px;
  font-weight: 700;
}

.star:hover::after,
.star:has(~ .star:hover)::after,
.star:checked::after,
.star:has(~ .star:checked)::after {
  content: '★';
  cursor: pointer;
}

.star-mobile:hover::after,
.star-mobile:has(~ .star-mobile:hover)::after,
.star-mobile:checked::after,
.star-mobile:has(~ .star-mobile:checked)::after {
  content: '★';
  cursor: pointer;
}

.star:hover ~ .star::after {
  content: '☆';
}

.star-mobile:hover ~ .star-mobile::after {
  content: '☆';
}

/* NoAccessPage */

.noAccessWrapper{
  display: flex;
  height: 100vh;
  /* background-color: #333; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noAccessText{
  font-size: 20px;
  font-weight: 500;
}

.goHomeWrapper{
  display: flex;
  gap:8px;
}

.noAccessContent{
  /* font-weight: 400; */
}

.noAccessNavigator{
  font-weight: 300;
  color: #4A00AA;
}

.noAccessNavigator:hover{
  cursor: pointer;
  color: #fbfbfb;
}

/* EditProfileModal */
.editProfileWrapper{
  width: 40%;
  max-width: 500px;
  height:max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px 24px;
}

.editProfileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
}

.editProfileContainer p{
  font-weight: 500;
  font-size: 20px;
}
.editInputs{
  display: flex;
  flex-direction: column;
  gap:8px;
  margin-bottom: 24px;
}

.editInputWrapper{
  background-color: #eee;
  padding: 8px 12px;
  border:1px solid #DDD;
  border-radius: 8px;
}

.editInput{
  border:none;
  background-color: inherit;
}

.editProfileContainer button{
  background-color: #4A00AA;
  border:none;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
}

.closeButton{
  display: flex;
  /* background-color: #333; */
  width: 100%;
  color: #666;
  font-size: 14px;
}

.closeButton:hover{
  cursor: pointer;
}

/* RecommendPage */

.recommendSectionContainer{
  margin:60px;
  display: flex;
  justify-content: space-between;
  /* background-color: #222; */
}
.todaysRecommendationTitle{
  font-family: "RiaSans-ExtraBold";
  font-size: 38px;
  margin:0px;
}

.nicknameSubtitle{
  font-size: 20px;
  font-weight: 500;
}

.recommendSectionContainer .textsWrapper p{
  margin: 0px;
  margin-bottom: 4px;
  color: #4A00AA;
  font-weight: 300;
  font-size: 16px;
}

.recommend-bookCoverWrapper{
  width: max-content;
  height: max-content;
  /* background-color: #333; */
  width: 50%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.recommend-bookCoverWrapper .loadingContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.recommend-bookCoverWrapper .bookCover{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  border:1px solid #DDD;
}

.recommend-bookCoverWrapper .bookCover:hover{
  cursor: pointer;
}

.recommendPageBottomWrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.moreRecommendedContainer{
  background-color: #FFF;
  width: 80%;
  padding: 24px 36px;
  margin-bottom: 60px;
  border-radius: 12px;
  border:1px solid #DDD;
}

.moreRecommendedContainer .title{
  font-size: 18px;
  font-weight: 400;
  margin:0px;
  margin-bottom: 24px;
}

.moreRecommendedContainer .bookElement{
  width: 120px;
  height: max-content;
}

.bookElement .bookTitle p{
  font-size: 14px;
  font-weight: 300;
}

.moreRecommendedContainer .bookCover{
  width: 120px;
  height: 180px;
  border: 1px solid #DDD;
  border-radius: 8px;
}

.moreRecommendedContainer .bookCover:hover{
  cursor: pointer;
}

.moreRecommendedContainer .bookCover p{
  margin:0px;
  margin-top: 4px;
  /* font-size: 14px;
  font-weight: 300; */
  
}

.moreRecommendedContainer .booksArea{
  display: flex;
  justify-content: space-between;
  /* gap:24px; */
}

.moreRecommendedContainer .bookTitle{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bottomTextsWrapper{
  display: flex;
  align-items: baseline;
}

.bottomTextsWrapper .texts{
  padding: 12px;
}

.recommend-leftWrapper .bottomTextsWrapper{
  margin-top: 50px;
}

.recommend-leftWrapper .bottomTextsWrapper p{
  margin:0px;
  margin-bottom: 4px;
  font-size: 14px;
}

.bottomTextsWrapper .goSearchText{
  color: #8859C5;
}

.bottomTextsWrapper .goSearchText:hover{
  cursor: pointer;
}

/* SurveyPage */

.genderpageWrapper,
.genrepageWrapper{
  margin:24px 8px;
  position: relative;
}

.genderpageWrapper .title{
  margin:0px;
  color: #333;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 24px;
}

.genrepageWrapper .title{
  margin:0px;
  color: #333;
  font-weight: 500;
  font-size: 24px;
}

.genrepageWrapper p{
  margin:8px 0px 16px 0px;
  color: #666;
  font-weight: 300;
}

.rightButtonWrapper button,
.rightButtonWrapper button:hover{
  border: none;
  background-color: #4A00AA;
  color: #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
}

.leftButtonWrapper button,
.leftButtonWrapper button:hover{
  border: none;
  background-color: #4A00AA;
  color: #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.leftButtonWrapper{
  position: absolute;
  left: 20px;
  bottom: -200px;
}

.rightButtonWrapper{
  position: absolute;
  right: 20px;
  bottom: -200px;
}

.genderOptionsWrapper,
.genreOptionsWrapper{
  display: flex;
  flex-direction: column;
  gap:8px;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.buttonLabel{
  display: flex;
  align-items: center;
  gap:8px;
  font-size: 18px;
}

.agePageWrapper{
  margin:24px 8px;
  position: relative;
}

.agePageWrapper .title{
  margin:0px;
  color: #333;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 24px;
}
.ageInputWrapper{
  padding: 12px 16px;
  background-color: #fbfbfb;
  border:1px solid #DDD;
  width: 20%;
  border-radius: 4px;
}

.ageInput{
  border:none;
  background-color: inherit;
  width: 100%;
}
/* 기본 라디오 버튼과 체크박스 숨기기 */
input[type="radio"], input[type="checkbox"] {
  display: none;
}

/* 커스텀 라디오 버튼과 체크박스 스타일 */
.custom-radio,
.custom-checkbox {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex; /* 중앙 정렬을 위한 flexbox */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  font-size: 24px; /* 알파벳 폰트 크기 */
  font-weight: 300; /* 알파벳 폰트 굵기 */
  border: 1.5px solid #DDD; /* 선택되지 않은 상태의 테두리 */
  color: #DDD; /* 선택되지 않은 상태의 알파벳 색상 */
}

/* 선택된 상태의 스타일 */
input[type="radio"]:checked + .custom-radio,
input[type="checkbox"]:checked + .custom-checkbox {
  border: 1.5px solid #4A00AA; /* 선택된 상태의 테두리 */
  color: #4A00AA; /* 선택된 상태의 알파벳 색상 */
}

/* EditGenreModal */
.editGenreWrapper{
  width: 40%;
  max-width: 500px;
  height:max-content;
  background-color: #fbfbfb;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px 24px;
}

.editGenreContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

.editGenreUpper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.editGenreUpper .submitButton,
.editGenreUpper .submitButton:hover{
  color: #666;
  font-size: 14px;
  cursor: pointer;
}

.editGenreUpper .closeButton,
.editGenreUpper .closeButton:hover{
  color: #666;
  font-size: 14px;
  width: 50%;
  cursor: pointer;
}

.editGenreBelow{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editGenreBelowText{
  display: flex;
  gap:8px;
  align-items: center;
}

.editGenreBelowText .title{
  font-weight: 500;
}

.editGenreBelowText .subTitle{
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

/* AdminPage */
.adminWrapper{
  display: flex;
  width: 100%;
  height: 100vh;
}

.adminNavBarWrapper{
  width: 280px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fbfbfb;
  border-right: 1px solid #DDD;
}

.adminPagesWrapper{
  width: 100%;
  overflow-y: auto;
}

.adminProfile{
  /* background-color: #DDD; */
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap:8px;
  border-bottom: 1px solid #DDD;
}

.adminProfile p{
  margin:0px;
  margin-bottom: 4px;
  font-weight: 300;
}

/* adminTabs */
.userManagePageWrapper,
.surveyManagePageWrapper,
.recordManageWrapper,
.statisticsWrapper{
  display: flex;
  flex-direction: column;
  margin:40px 24px;
}

.userManagePageWrapper h1,
.surveyManagePageWrapper h1,
.recordManageWrapper h1,
.statisticsWrapper h1{
  margin:0px;
  font-weight: 600;
  font-size: 32px;
}

.userListSection,
.surveyListSection,
.recordListSection{
  margin-top: 40px;
}

.userContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:16px; */
  background-color: #fbfbfb;
  margin-bottom: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  border:1px solid #DDD;
}

.surveyContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:16px; */
  background-color: #fbfbfb;
  margin-bottom: 16px;
  padding: 20px 16px;
  border-radius: 8px;
  border:1px solid #DDD;
}

.surveyContainer .memberInfo{
  display: flex;
  gap:16px;
}

.surveyContainer .memberInfo .memberId{
  font-weight: 500;
}

.surveyContainer .memberInfo .memebername{
  font-weight: 300;
  
}

.surveyListSection .surveyElements{
  display: flex;
  align-items: center;
  gap:48px;
}

.surveyListSection .surveyElements .memberInfoElements{
  display: flex;
  gap:8px;
}

.memberInfoElements .memberInfoWrapper{
  display: flex;
  gap:4px;
}

.memberInfoElements .memberInfoWrapper p{
  margin: 0px;
  margin-top: 4px;
  font-weight: 300;
  font-size: 14px;
  color: #666;
}

.surveyListSection .surveyElements .genreElements{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  gap:4px;
  width: 300px;
  /* background-color: #222; */
  flex-wrap: wrap;
}

.genreElements .genreElement{
  padding: 4px 6px;
  border: 1px solid #DDD;
  border-radius: 4px;
  font-size: 12px;
}

.elementContainersWrapper{
  /* background-color: #222; */
  display: flex;
  flex-direction: column;
}
.elementContainer{
  width: 150px;
}

.elementContainer .nickname{
  font-size: 16px;
  font-weight: 500;
}

.elementContainer .membername,
.elementContainer .createdAt{
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

.elementContainer p{
  font-size: 14px;
  /* font-weight: 300; */
  margin:4px 0px 4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.elementButton{
  border:1px solid #DDD;
  padding: 8px 16px;
  font-size: 12px;
  /* font-weight: 300; */
  border-radius: 4px;
  background-color: inherit;
  color: #333;
}

.elementButton:hover{
  cursor: pointer;
  color: #FFF;
  background-color: #DDD;
}

.userContainer .elementButtonWrapper{
  display: flex;
  /* background-color: #4A00AA; */
  /* justify-content: flex-start; */
  gap:8px;
}

.adminTabsWrapper{
  display: flex;
  flex-direction: column;
}

.adminTabsWrapper .adminTab{
  /* background-color: #555; */
  padding: 24px;
  /* border-bottom: 1px solid #DDD; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap:8px;
}

.adminTabsWrapper .selectedAdminTab{
  padding: 24px;
  background-color: #EEE;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap:8px;
}

.adminTabsWrapper p{
  font-size: 18px;
  margin:0px;
  font-weight: 400;
}

.adminTabsWrapper .selectedAdminTab p{
  font-weight: 500;
}

/* statisticsWrapper */
.chartsWrapper{
  margin:16px;
  display: flex;
  flex-direction: column;
  gap:16px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
.chartsWrapper .chartContainer{
  background-color: #fbfbfb;
  width: min-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap:24px;
  border: 1px solid #DDD;
  border-radius: 8px;
}

.chartsWrapper .chartContainer-wrap{
  display: flex;
  flex-direction: column;
  gap:32px;
}

.chartsWrapper .chartContainer p{
  margin:0px;
  font-size: 18px;
  font-weight: 300;
}

.chartsWrapper .chartContainer .chartTitle{
  margin:0px;
  font-size: 20px;
  font-weight: 400;
}